---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout pageTitle="404: Page not found" class="grid place-items-center py-32 max-w-screen-md mx-auto font-mono">
    <div>
        <p class="text-2xl text-kleinblue">404</p>
        <h1 class="pt-2 text-3xl font-bold sm:text-4xl">Page not found</h1>
        <p class="pt-2 text-base leading-7 text-gray-400">Sorry, couldn’t find the page you’re looking for.</p>
        <div class="mt-6">
            <a href="/" class="rounded-md bg-kleinblue px-3.5 py-2.5 text-sm text-white shadow-sm hover:bg-kleinblue-500">Go back home</a>
        </div>
    </div>
</BaseLayout>