---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8 font-mono">
    <div class="">
        <p class="text-2xl text-kleinblue">404</p>
        <h1 class="mt-2 text-3xl font-bold sm:text-4xl">Page not found</h1>
        <p class="mt-4 text-base leading-7 text-gray-400">Sorry, couldn’t find the page you’re looking for.</p>
        <div class="mt-10">
            <a href="/" class="rounded-md bg-kleinblue px-3.5 py-2.5 text-sm text-white shadow-sm hover:bg-kleinblue-500">Go back home</a>
        </div>
    </div>
</BaseLayout>