---
import { getCollection } from "astro:content"
import BlogLists from "../components/BlogLists.astro"

const blogs = await getCollection("blogs")
console.log(blogs)

const pageTitle = "Blog"
---

<html lang = "en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>

    <BlogLists blogs={blogs}/>


  </body>
</html>