---
console.log(`Don't waste too much time to design, you are not a designer!`);
console.log(`Just keep minimalism`);


import BaseLayout from "../layouts/BaseLayout.astro"
import BlogLists from "../components/BlogLists.astro"

import { getCollection } from "astro:content"

const blogs = await getCollection("blogs")
// console.log(blogs)

---

<BaseLayout pageTitle="Jeffery - Home" hrefLink="favicon.ico">

  <div class="mb-28">
    <p class="font-bold">More</p>
    <p>Not done yet...</p>
  </div>


  <div>
    <BlogLists blogs={ blogs }/>
  </div>


</BaseLayout>

