---
console.log(`Don't waste too much time to design, you are not a designer!`);
console.log(`Just keep minimalism`);
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
<body>
  <!--max-width: 768px -->
  <div class="md:max-w-3xl container mx-auto text-justify">
    Unlike Abel map of the symmetric power of a Riemann surface onto its Jacobian, the Abel–Prym map generically can not be reversed by means of conventional technique related to the Jacobi inversion problem, and of its main ingredient, namely the Riemann vanishing theorem. It happens because the corresponding analog of the Riemann vanishing theorem gives twice as many points as the dimension of the Prym variety. However, if the Riemann surface has a second involution commuting with the one defining the Prym variety and satisfying a certain additional condition, an analog of the Jacobi inversion can be defined, and expressed in terms of the Prym theta function. We formulate these conditions and refer to the pairs of involutions satisfying them as to pairs of the first type. We formulate necessary conditions for the pair of involutions to be a pair of the first type, and give a series of examples of curves with such pairs of involutions, mainly spectral curves of Hitchin systems, and also a spectral curve of the Kovalewski system.
  </div>
</body>
</html>

