---
console.log(`Don't waste too much time to design, you are not a designer!`);
console.log(`Just keep minimalism`);

import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout pageTitle="Home" class="container max-w-screen-md mx-auto p-2">
  <h1>Halo!</h1>
  <a href="/blog">blogpage</a>
</BaseLayout>

