---
import BaseLayout from "../layouts/BaseLayout.astro"

import { getCollection } from "astro:content"

const blogs = await getCollection("blogs")
// console.log(blogs)

---

<BaseLayout pageTitle="Jeffery - Home" hrefLink="favicon.ico">

  <div class="mb-28">
    <p>There is nothing more visible than what is secret, and nothing more manifest than what is minute. Therefore the superior man is watchful over himself, when he is alone.</p>
  </div>

</BaseLayout>

