---
console.log(`Don't waste too much time to design, you are not a designer!`);
console.log(`Just keep minimalism`);


import BaseLayout from "../layouts/BaseLayout.astro"
import BlogLists from "../components/BlogLists.astro"

import { getCollection } from "astro:content"

const blogs = await getCollection("blogs")
// console.log(blogs)

---

<BaseLayout pageTitle="Home" hrefLink="favicon.ico">

  <div>
    <p class="mt-14 mb-4 font-bold text-gray-500">More</p>
    <p class="text-gray-200 dark:text-gray-500">Not done yet...</p>
  </div>


  <div>
    <BlogLists blogs={ blogs }/>
  </div>


</BaseLayout>

