@import "tailwindcss";

:root {
	--background-color: #fafafa;
	--text-color: #000000;
	--link-color: #5BC2E7;		/* #002FA7 */
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

[class='dark'] {
	--background-color: #303446;
	--text-color: #e0e0e0;
	--link-color: #5BC2E7;

	/* dark code highlight */
	code[data-theme],
	code[data-theme] span {
		color: var(--shiki-dark);
		background-color: var(--shiki-dark-bg);
	}
}

a {
  color: #5BC2E7;
}

/* code highlight */
figure pre {
  overflow-x: auto;
  position: relative;
	margin: 1em 0;
	font-size: 0.9em;
	max-width: 100%;
}

code[data-theme],
code[data-theme] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

code[data-theme] span[data-highlighted-line] {
	background-color: rgba(200, 200, 255, 0.18) !important;
  border-left: 2px solid #60A5FA;
  border-radius: 3px;
}

/* show code line numbers */
pre code {
	counter-reset: line;
}

code > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1rem;
	text-align: right;
	color: gray;
}

code > [data-line] {
	padding-left: 0.1rem;
}
