---
import type { CollectionEntry } from "astro:content";

type Props = {
    blogs: CollectionEntry<'blogs'>[];
}

const { blogs } = Astro.props;
---

<ul>
    { blogs.map((blog) => 
        <li class="py-2 truncate">
            <time class="text-sm pr-4">{blog.data.pubDate}</time>
            <a href={`/blog/${blog.slug}`} class="underline hover:text-gray-300">{blog.data.title}</a>
        </li>) 
    }
</ul>
