---
import { getEntryBySlug, type CollectionEntry } from "astro:content"

type Props = {
    essays: CollectionEntry<'essays'>[]
}

const { essay } = Astro.props

---

<article>
    <!-- /essay/ 注意这里的路径对应关系-->
    <a href={`/essay/${essay.slug}`}>blog</a>
</article>
