---
import type { CollectionEntry } from "astro:content";
import Blog from "./Blog.astro";

type Props = {
    blogs: CollectionEntry<'blogs'>[];
}

const { blogs } = Astro.props;
---

<div>
    { blogs.map((blog) => <Blog blog={blog} />) }
</div>