---
import type { CollectionEntry } from "astro:content";

type Props = {
    blogs: CollectionEntry<'blogs'>[];
}

const { blogs } = Astro.props;
---

<ul>
    { blogs.map((blog) => 
        <li class="py-2 truncate">
            <time class="text-sm text-gray-300 dark:text-gray-500 pr-4">{blog.data.pubDate}</time>
            <a href={`/blog/${blog.slug}`} class="text-gray-500 dark:text-gray-400 underline decoration-gray-500 hover:text-gray-900 dark:hover:text-gray-200">{blog.data.title}</a>
        </li>) 
    }
</ul>
