---
import { getEntryBySlug, type CollectionEntry } from "astro:content"

type Props = {
    essays: CollectionEntry<'blogs'>[]
}

const { blog } = Astro.props

---

<article>
    <!-- /essay/ 注意这里的路径对应关系-->
    <a href={`/blog/${blog.slug}`}>blog</a>
</article>
