---
import { ViewTransitions } from 'astro:transitions'

const { class: className, pageTitle, linkHref, grayScale } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={linkHref} type="image/x-icon">
    <title>{pageTitle}</title>
    <ViewTransitions />
</head>
<body class={grayScale}>

    <div class={className}>
        <slot />
    </div>

</body>
</html>