---
import { Icon } from 'astro-icon/components'
import BaseLayout from './BaseLayout.astro'

const { pageTitle } = Astro.props


---

<div class="container md:max-w-3xl mx-auto px-2 font-sans">
    <header>
        <a href="./" target="_self">
            <Icon aria-hidden="true" class="w-6 h-6 text-gray-400" focusable="false" name="mdi:arrow-left" />
        </a>
    </header>
    <main>
        <article 
            class="prose prose-gray max-w-none prose-img:rounded-xl prose-headings:underline prose-a:text-kleinblue prose-pre:bg-white"
        >
            <slot />
        </article>
    </main>
    <footer></footer>
</div>

