---


---

<!-- class="container md:max-w-3xl mx-auto px-2" -->
<div>
    <main>
        <!-- prose max-w-none prose-img:rounded-xl prose-a:text-kleinblue -->
        <article 
            class="prose max-w-none dark:prose-invert prose-img:rounded-xl prose-a:text-kleinblue"
        >
            <slot />
        </article>
    </main>
    <footer></footer>
</div>

