---
import { Icon } from 'astro-icon/components'
import BaseLayout from './BaseLayout.astro'

const { pageTitle } = Astro.props


---

<BaseLayout pageTitle={pageTitle} class="container md:max-w-3xl mx-auto px-4 font-sans">
    <header>
        <a href="./" target="_self">
            <Icon aria-hidden="true" class="w-6 h-6 text-gray-400" focusable="false" name="mdi:arrow-left" />
        </a>
    </header>
    <main class="prose">
        <slot />
    </main>
    <footer></footer>
</BaseLayout>
